.redes {
    display: flex;
    color: rgb(12,13,13);
    padding: 50px;
    background-color: rgb(54,114,90);
    margin: 20px;
    .linkRedes {
        display: flex;
        width: 200px;
        align-items: center;
        justify-content: center;
        a {
            text-decoration: none;
            color: aliceblue;
            padding: 20px;
            }
        }
    }

    a:hover {
        color: rgb(111, 141, 98);
        }