.redes{
    display: flex;
    flex-wrap: wrap;
    color: rgb(12,13,13);
    background-color: rgb(54,114,90);
    justify-content: center;
    .linkRedes{
        padding: 10px 0px;
        display: flex;
        width: 200px;
        align-items: center;
        justify-content: center;
        a{
            text-decoration: none;
            color: aliceblue;
            &:hover {
                color: rgb(111,141,98);
            }
        }
    }
}