@media screen and (min-width: 320px){
    h1{
        font-size: 25px;
    }

    //INDEX
    //NAVBAR
    .navbar{
        margin: 0px 0px;
    }
    .navbar-light .navbar-toggler{
        margin: 0px 20px;
    }
    .navbar-nav{
        padding: 20px;
    }


    //FOOTER
    .redes{
        margin-top: 20px;
    }


    //COMUNES
    .primero{
        font-size: 25px;
        text-align: center;
        .tituloComunes{
            font-size: 25px;
        }
    }


    //CULTIVOS
    .container-fluid-carousel{
        margin: 0px 0px;
        width: 100%;
        .carousel{
            width: 100%;
        }
    }


    //HISTORIA
    section .tituloComunes{
        font-size: 25px;
    }
    .flex-container-historia{
        padding: 10px;
    }
    .gridHistoria{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        .grid-item1, .grid-item2, .grid-item3{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }


    //IMPORTANTES
    .primero{
        .animatedText{
            padding: 10px;
            font-size: 25px;
        }
    }
    .flex-container-importantes{
        display: flex;
        flex-wrap: wrap;
        width: auto;
        justify-content: center;
        .flex-items{
            width: 90%;
            padding: 10px;
        }
    }
    .textComunes{
        div{
            ul{
                li{
                    padding-bottom: 10px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px){
    //INDEX
    .ind{
        .parrafo{
            margin: 20px 50px;
        }
    }

    //HISTORIA
    .gridHistoria{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        .grid-item1, .grid-item2, .grid-item3{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }

    h1{
        font-size: 40px;
    }

    .primero{
        .tituloComunes{
            font-size: 40px;
        }
    }
    p{
        font-size: 20px;
    }
}

@media screen and (min-width: 992px){
    //NAVBAR
    .navbar{
        justify-content: space-around;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        margin: 0 50px;
    }
}

@media screen and (min-width: 1024px){
    //INDEX
    .flex-container-index{
        flex-wrap: nowrap;
    }

    .titlesComunes{
        font-size: 40px;
        font-weight: bold;
    }
    .parrafo{
        margin: 10px 60px;
    }

    .flex-container-importantes{
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 1440px){
    main{
        margin: 20px 120px;
    }
}