/* ========= RESPONSIVE en NAVBAR ========= */
@media screen and (max-width: 320px){
    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
}

@media screen and (max-width: 576px) {
    .navbar-nav {  
    @include nav;
    } 
}

@media screen and (max-width: 768px) {
    .navbar-nav {
        @include nav;
    }
}

/* ========= RESPONSIVE en INDEX ========= */
@media screen and (max-width: 320px) {
    .parrafo {
        margin: 15px;
    }
    .flex-container-index {
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .flex-container-index {
    flex-direction: column;
    }
}


/* ========= RESPONSIVE en CULTIVOS ========= */

@media screen and (min-width: 500px) {
    .flex-container-cultivo {
        margin: 0px;
        grid-template-columns: 1fr;
    }
    .nav ul {
        display: flex;
        justify-content: space-between;
    }
} 

@media screen and (min-width:786px) {
    .nav ul {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        border: 5px solid black;
        margin: auto;
    }
    .container-fluid {
        background-color: rgb(167, 211, 219);
        max-height: 700px;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
    .flex-container-cultivo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        margin: 5px;
    }
}

@media screen and (min-width:1024px) {
    .flex-container-cultivo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 10px
    }
    .container-fluid {
        margin: 5px;
        background-color: #dcf9e4;
    }
    .footer {
        padding: 0px;
        margin: 0px;
    }
}


/* ========= RESPONSIVE de  HISTORIA ========= */

@media screen and (max-width:320px) {
    .gridHistoria {
        width: 80%;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 576px) {
    .gridHistoria {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:768px) {
    .gridHistoria {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .flex-container-historia {
        margin-top: 10px;
    }
}

/* ========= RESPONSIVE de IMPORTANTES ========= */

@media screen and (max-width: 320px) {
    .animatedText {
        font-size: 30px;
        flex-direction: column;
        .flex-items {
            display: flex;
        }
    }
}