/*  =========   Mixin para HISTORIA =========  */
@mixin caja {
        display: flex;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
        border: 2px solid black;
}

/* el @include se agregó en las líneas 25 y 28 de historia  */