/*  =========   Mixins para Comunes =========  */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:ital@0;1&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* ========= CSS NavBar ========= */
.navbar-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.navbar-nav .nav-link {
  margin: 0 95px 0 95px;
}

.ind {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: justify;
  line-height: normal;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-transform: none;
  color: rgb(10, 9, 9);
}

.flex-container-index {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: center;
  border: 5px solid white;
  margin: 5px;
  padding: 10px;
  width: 100%;
  max-height: 750px;
  flex-grow: 1;
  gap: 10px;
}
.flex-container-index .palan-palan {
  align-self: flex-end;
  flex-basis: 30%;
  margin-top: 5px;
}
.flex-container-index .palan-palan .malva {
  align-self: flex-start;
  flex-basis: 60%;
}

.redes {
  color: rgb(12, 13, 13);
  padding: 50px;
  background-color: rgb(54, 114, 90);
  margin: 20px;
}
.redes a {
  text-decoration: none;
  color: aliceblue;
  padding: 20px;
}

/* ========= Css de comunes.html ========= */
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgb(20, 67, 20);
}

body {
  background-color: #dcf9e4;
}

.titlesComunes {
  font-family: "Amatic SC", cursive;
  font-size: 35px;
}

.primero {
  text-align: left;
  font-size: 40px;
}

.textComunes {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  word-spacing: 5px;
}

/*  ========= Flexbox de Historia ========= */
.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
.flexContainer .caja1 {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.flexContainer .caja2 {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.flexContainer .caja3 {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

/* ========= GRIDS de Historia ========= */
.gridHistoria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 0px;
}
.gridHistoria .grid-item1 {
  grid-area: 1/1/3/2;
}
.gridHistoria .grid-item2 {
  grid-area: 1/2/3/3;
}
.gridHistoria .grid-item3 {
  grid-area: 1/3/3/4;
}

/* ========= CSS BOOTSTRAP en CULTIVOS ========= */
.container-fluid {
  margin: 10px;
  height: 800px;
}

/* ========= RESPONSIVE en CULTIVOS ========= */
@media screen and (min-width: 500px) {
  .flex-container-cultivo {
    margin: 0px;
    grid-template-columns: 1fr;
  }
  .nav ul {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 786px) {
  .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    border: 5px solid black;
    margin: auto;
  }
  .container-fluid {
    background-color: rgb(167, 211, 219);
    max-height: 700px;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  .flex-container-cultivo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .flex-container-cultivo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
  }
  .container-fluid {
    max-height: 900px;
    margin: 5px;
    background-color: #dcf9e4;
  }
  .footer {
    padding: 0px;
    margin: 0px;
  }
}
/* ========= RESPONSIVE de  HISTORIA ========= */
@media screen and (min-width: 500px) {
  .flexContainer {
    height: 800px;
  }
  .caja {
    height: auto;
    width: 100%;
  }
  .gridHistoria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 5px;
    margin: 5px;
    row-gap: 5px;
    height: 800px;
    width: 100%;
  }
  .historiaDos {
    width: 100%;
  }
  .historiaTres {
    width: 100%;
  }
  .historiaCuatro {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .flexContainer {
    height: 200px;
    justify-content: center;
  }
  .flexContainer .caja {
    padding: 10px;
  }
  .gridHistoria {
    display: grid;
    margin: 50px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .historiaDos {
    grid-template-columns: 100%;
  }
  .historiaTres {
    grid-template-columns: 100%;
  }
  .historiaCuatro {
    grid-template-columns: 100%;
  }
}/*# sourceMappingURL=sass.css.map */