@charset "UTF-8";
/*  =========   Mixin para HISTORIA =========  */
/* el @include se agregó en las líneas 25 y 28 de historia  */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:ital@0;1&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* ========= CSS NavBar ========= */
.navbar-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.navbar-nav .nav-link {
  margin: 0 95px 0 95px;
}

.ind {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: justify;
  line-height: normal;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-transform: none;
  color: rgb(10, 9, 9);
}

.flex-container-index {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: center;
  border: 5px solid white;
  margin: 5px;
  padding: 10px;
  width: 100%;
  max-height: 750px;
  flex-grow: 1;
  gap: 10px;
}
.flex-container-index .palan-palan {
  align-self: flex-end;
  flex-basis: 30%;
  margin-top: 5px;
}
.flex-container-index .palan-palan .malva {
  align-self: flex-start;
  flex-basis: 60%;
}

.redes {
  color: rgb(12, 13, 13);
  padding: 50px;
  background-color: rgb(54, 114, 90);
  margin: 20px;
}
.redes a {
  text-decoration: none;
  color: aliceblue;
  padding: 20px;
}

/* ========= Css de comunes.html ========= */
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgb(20, 67, 20);
}

body {
  background-color: #dcf9e4;
}

.titlesComunes {
  font-family: "Amatic SC", cursive;
  font-size: 35px;
}

.primero {
  text-align: left;
  font-size: 40px;
}

.textComunes {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  word-spacing: 5px;
}

/*  ========= Flexbox de Historia ========= */
.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  border: 4px solid black;
  padding: 10px;
  margin: 50px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  overflow: auto;
  height: 40vh;
}
.flexContainer .caja1 {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  border: 2px solid black;
}
.flexContainer .caja2 {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  border: 2px solid black;
}
.flexContainer .caja3 {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  border: 2px solid black;
}

/* ========= GRIDS de Historia ========= */
.gridHistoria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  margin: 10px;
  padding: 20px;
}

/* h1 con gradiente y animado */
.animatedText {
  font-size: 3rem;
  background: linear-gradient(90deg, rgb(32, 61, 32), rgb(205, 205, 134), rgb(32, 61, 32)) 0 0/400% 100%;
  animation: move-bg 4s infinite linear;
}

@keyframes move-bg {
  to {
    background-position: 400% 0;
  }
}
.flex-container-importantes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin: 10px;
  padding: 10px;
}
.flex-container-importantes .flex-items {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  animation: fadeIn 1s ease;
}

.flex-items {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
}
/* ========= CSS BOOTSTRAP en CULTIVOS ========= */
.container-fluid {
  margin: 10px;
  height: 800px;
}

/* ========= RESPONSIVE en CULTIVOS ========= */
@media screen and (min-width: 500px) {
  .flex-container-cultivo {
    margin: 0px;
    grid-template-columns: 1fr;
  }
  .nav ul {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 786px) {
  .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    border: 5px solid black;
    margin: auto;
  }
  .container-fluid {
    background-color: rgb(167, 211, 219);
    max-height: 700px;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  .flex-container-cultivo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .flex-container-cultivo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
  }
  .container-fluid {
    margin: 5px;
    background-color: #dcf9e4;
  }
  .footer {
    padding: 0px;
    margin: 0px;
  }
}
/* ========= RESPONSIVE de  HISTORIA ========= */
@media screen and (max-width: 500px) {
  .flexContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
  }
}
.gridHistoria {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

@media screen and (min-width: 1024px) {
  .flexContainer {
    justify-content: center;
  }
  .flexContainer .caja {
    padding: 10px;
  }
}/*# sourceMappingURL=sass.css.map */